#posts-index img {
  width: 300px;
}

html {
  scroll-behavior: smooth;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 150px;
}

.card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}